@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

:root {
  /* colors */
  --clr-bg: #16172f;
  --clr-bg-nav: #16172f;
  --clr-bg-card: #454559;
  --clr-accent: #1ceac5;

  /*text colors*/
  --clr-text-primary: #ececee;
  --clr-text-secondary: #b5b5bd;
  --clr-text-tag: #181818;
  --clr-text-accent: #1ceac5;
  --clr-text-warning: #ffb8c5;

  /*border radius*/
  --radius-btn: 40px;
  --radius-card: 12px;

  /*fonts*/
  --ff-header: "Sen", sans-serif;
  --ff-body: "Sen", sans-serif;

  --p-max-width: 55ch;

  /*shadows*/
  --shadow-card: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.15);
  --shadow-menu-upper: 0 -4px 20px rgba(28, 234, 195, 0.15);
  --shadow-menu: 0 4px 20px rgba(28, 234, 195, 0.15);

  --fs-sm: clamp(0.8333rem, 0.8303rem + 0.0152vw, 0.844rem);
  --fs-md: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --fs-lg: clamp(1.2rem, 1.1144rem + 0.428vw, 1.4996rem);
  --fs-xl: clamp(1.44rem, 1.2803rem + 0.7986vw, 1.999rem);

  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.08vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.47rem + 0.16vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.7rem + 0.23vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.94rem + 0.31vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.41rem + 0.47vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.88rem + 0.63vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.81rem + 0.94vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.75rem + 1.25vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.63rem + 1.88vw), 7.5rem);
  --space-4xl: clamp(10rem, calc(9.38rem + 3.13vw), 12.5rem);

  /*negative spaces*/
  --space-l-neg: clamp(-2rem, calc(-1.88rem - 0.63vw), -2.5rem);
  --space-xl-neg: clamp(-3rem, calc(-2.81rem - 0.94vw), -3.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.47vw), 0.63rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.39rem + 0.55vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.78rem + 1.09vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.25rem + 1.25vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.56rem + 2.19vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.5rem + 2.5vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.13rem + 4.38vw), 7.5rem);
  --space-3xl-4xl: clamp(6rem, calc(4.38rem + 8.13vw), 12.5rem);

  /* Custom pairs */
  /*used for links, padding is larger on mobile than on desktop */
  --space-xs-3xs: clamp(0.31rem, calc(0.86rem + -0.55vw), 0.75rem);

  --space-xs-l: clamp(0.88rem, calc(0.31rem + 2.83vw), 2.5rem);
  --space-2xs-l: clamp(0.56rem, calc(-0.11rem + 3.37vw), 2.5rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--clr-bg);
  font-family: var(--ff-body);
  color: var(--clr-text-primary);
  font-size: var(--fs-md);
  font-weight: 400;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

section {
  margin: var(--space-s);
  /* padding-top: var(--space-l); */
}

.color-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

/*Typography*/

h1,
h2,
h3,
h4,
p,
legend,
label {
  margin: 0;
}

h1 {
  font-family: var(--ff-header);
  font-size: var(--fs-xl);
  line-height: 120%;
  margin-bottom: var(--space-l);
}

.mobile-header > h1 {
  margin-bottom: 0;
}

h2 {
  font-family: var(--ff-header);
  font-size: var(--fs-lg);
  line-height: 120%;
}

p {
  font-family: var(--ff-body);
  font-size: var(--fs-md);
  line-height: 160%;
}

p:has(+ p),
h2:has(+ p) {
  margin-right: var(--space-3xs);
}

.color-number,
.product-line,
.material-type,
.material-variant,
.color-information-tag {
  font-size: var(--fs-sm);
  color: var(--clr-text-primary);
}

.color-number {
  word-break: keep-all;
}

/* Cards content and layout */
.swatch-list,
.triad-list,
.scale-list,
.color-details {
  flex: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-s);
  padding-bottom: var(--space-m);
}

.swatch-card,
.triad-outer-card,
.scale-outer-card {
  background-color: var(--clr-bg-card);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  height: fit-content;
  flex: 1;
  min-width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;

  /* &:hover {
  } */
}

.color-details-card {
  padding-top: var(--space-s);
}

.triad-card,
.scale-card {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-top: 1px solid var(--clr-bg);
}

.card-text {
  padding: var(--space-s);
}

.card-header-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-text-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.color-information-list {
  margin-top: var(--space-xs);
  display: none;
}

.color-information-item {
  padding: 0;
  display: flex;
  margin-bottom: var(--space-2xs);
}

.color-information-item:has(.color-information-tag:empty) {
  display: none;
}

.color-information-icon {
  height: 24px;
  width: 24px;
  margin-right: var(--space-3xs);
}

#colorDetails {
  display: none;
}

/* Opacity */
.pigment-opacity {
  background-image: url("../icons/ratings/opacity/opacity-multiple.svg");
}

.transparent {
  background-image: url("../icons/ratings/opacity/opacity-transparent.svg");
}

.semi-transparent {
  background-image: url("../icons/ratings/opacity/opacity-semi-transparent.svg");
}

.semi-opaque {
  background-image: url("../icons/ratings/opacity/opacity-semi-opaque.svg");
}

.opaque {
  background-image: url("../icons/ratings/opacity/opacity-opaque.svg");
}

/* Staining */
.non-staining {
  background-image: url("../icons/ratings/staining/staining-none.svg");
}

.low-staining {
  background-image: url("../icons/ratings/staining/staining-low.svg");
}

.medium-staining {
  background-image: url("../icons/ratings/staining/staining-medium.svg");
}
.high-staining {
  background-image: url("../icons/ratings/staining/staining-high.svg");
}

/* Granulation */
.no.granulation {
  background-image: url("../icons/ratings/granulation/granulation-none.svg");
}

.medium.granulation {
  background-image: url("../icons/ratings/granulation/granulation-medium.svg");
}

.heavy.granulation {
  background-image: url("../icons/ratings/granulation/granulation-high.svg");
}

/* Lightfastness */
.fugitive.lightfastness {
  background-image: url("../icons/ratings/lightfastness/lightfastness-fugitive.svg");
}

.fair.lightfastness {
  background-image: url("../icons/ratings/lightfastness/lightfastness-fair.svg");
}

.good.lightfastness {
  background-image: url("../icons/ratings/lightfastness/lightfastness-good.svg");
}

.very.good.lightfastness {
  background-image: url("../icons/ratings/lightfastness/lightfastness-very-good.svg");
}

.excellent.lightfastness {
  background-image: url("../icons/ratings/lightfastness/lightfastness-excellent.svg");
}

/* toxicicity */
.a {
  background-image: url("../icons/ratings/hazard/a-low-hazard.svg");
}

.b {
  background-image: url("../icons/ratings/hazard/b-possible-hazard.svg");
}

.c {
  background-image: url("../icons/ratings/hazard/c-hazardous.svg");
}

.d {
  background-image: url("../icons/ratings/hazard/d-extremely-toxic.svg");
}

.u {
  background-image: url("../icons/ratings/hazard/u-unknown-hazard.svg");
}

/* Obsolete */

.obsolete > i {
  background-image: url("../icons/functions/discontinued.svg");
}

.obsolete > p {
  color: var(--clr-text-warning);
}

/* ---- */

.pigment-card-text-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
}

.color-image,
.pigment-image {
  height: var(--space-4xl);
  object-fit: cover;
  width: 100%;
}

.triad-color-image,
.scale-color-image {
  height: var(--space-l);
  object-fit: cover;
  width: 100%;
}

.scale-image {
  height: var(--space-xl);
  width: 100%;
  object-fit: fill;
}

.triad-image {
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.triad-color {
  width: 33.3333333%;
}

.scale-color {
  width: 50%;
}

.triad-color:not(:last-child),
.scale-color:not(:last-child) {
  border-right: solid 1px var(--clr-bg);
}

.triad-color-text-container,
.scale-color-text-container {
  padding: var(--space-2xs) var(--space-3xs);
}

.triad-color-name,
.triad-color-pigment,
.scale-color-name,
.scale-color-pigment {
  font-size: var(--fs-sm);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Nav bar header */
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: var(--space-m) var(--space-l);
  background: var(--clr-bg-nav);
  box-shadow: var(--shadow-menu);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#navbar li {
  list-style: none;
  padding: 0 var(--space-2xs);
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: var(--clr-text-primary);
  font-size: var(--fs-md);
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--clr-text-accent);
}

#navbar li a.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--clr-text-accent);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.mobile {
  display: none;
  cursor: pointer;
}

.desktop-header {
  display: block;
}

.mobile-header {
  display: none;
}

/* Start page*/
#hero {
  overflow-y: scroll;
}

#hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--space-m);
  margin-top: var(--space-xl);
}

.category-card {
  transition: 0.3s ease;
  list-style: none;
  padding: var(--space-s);
  background: var(--clr-bg-card);
  border-radius: var(--radius-card);
  border: 1px solid var(--clr-bg-card);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.category-card:hover {
  color: var(--clr-text-accent);
  border: 1px solid var(--clr-accent);
}

.category-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.category-card-link:visited {
  text-decoration: none;
}

/*Media query*/
@media (max-width: 768px) {
  section {
    padding-top: var(--spacex-s);
  }

  #header {
    justify-content: space-between;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background: var(--clr-bg-nav);
    padding: var(--space-m) var(--space-l);
    transition: 0.3s ease;
  }

  #navbar.active {
    right: 0px;
    box-shadow: var(--shadow-menu);
  }

  #navbar li {
    margin-bottom: var(--space-s);
  }

  .mobile {
    display: flex;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  #close {
    position: absolute;
    top: var(--space-m);
    right: var(--space-l);
  }
}

.hidden {
  display: none;
}
